<div class="page-header">
  <h1><%= header_text %></h1>
</div>
<div class="col-xs-8	col-xs-offset-2">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title, for: "titleField" %><br>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Insert a title for your post', id: 'titleField' %>
    </div>
    <div class="form-group">
      <%= f.label :subtitle, for: "subTitleField" %><br>
      <%= f.text_field :subtitle, class: 'form-control', placeholder: 'Insert a subtitle for your post', id: 'subTitleField' %>
    </div>
    <div class="form-group">
      <%= f.label :body, for: "bodyField" %><br>
      <%= f.text_area :body, class: 'form-control', placeholder: 'What would you like to share with the world?', id: 'bodyField' %>
    </div>
    <div class="form-group">
      <%= f.label :image %>
 +    <%= f.hidden_field :image_cache %>
      <%= f.file_field :image,	class:"form-control" %>
    </div>
    <div class="actions">
      <%= f.submit submit_text, class: 'btn	btn-success' %>
      <%= link_to 'Cancel', posts_path, class:"btn btn-primary" %>
      <% if !current_page?(new_post_path) %>
        <%= button_tag 'Reset', type: :reset, class:"btn btn-default" %>
      <% end %>
    </div>
  <% end %>
</div>
