<div	class="page-header">
  <h1>Welcome to Blog-Jan <small>take a seat.</small></h1>
  <% if current_user.try(:admin?) %>
  <%=	link_to	'New	Post',	new_post_path,	:class=>"btn	btn-success"	%>
  <% end %>
</div>
<div class="row">
  <% @posts.last(20).reverse_each do |post| %>
    <div	class="col-sm-12 col-md-6">
      <h2><%= link_to post.title, post %></h2>
      <p class="text-justify"><%= post.body %></p>
      <%= link_to 'More...', post %><br><br>
      <p>Comments: <%= post.comments.count%></p>
      <% if current_user.try(:admin?) %>
        <%= link_to 'Edit', edit_post_path(post), :class=>"btn	btn-primary" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn	btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
<br><br>
