<div	class="page-header">
  <h1>Choose your favorite post <small>pick any one.</small></h1>
</div>
<div class="row">
  <%unless @today.empty?%>
    <h3>Fresh posts</h3>
    <% @today.reverse_each do |post| %>
      <%= render post %>
    <% end %>
  <% end %>
</div>
  <div class="row">
  <%unless @current_week.empty?%>
    <hr>
    <h3>Posts of the past week</h3>
    <% @current_week.reverse_each do |post| %>
      <%= render post %>
    <% end %>
  <% end %>
</div>
  <div class="row">
  <%unless @current_month.empty?%>
    <hr>
    <h3>Posts of the month</h3>
    <% @current_month.reverse_each do |post| %>
      <%= render post %>
    <% end %>
  <% end %>
</div>
  <div class="row">
  <%unless @current_year.empty?%>
    <hr>
    <h3>One year old posts</h3>
    <% @current_year.reverse_each do |post| %>
      <%= render post %>
    <% end %>
  <% end %>
</div>
  <div class="row">
  <%unless @past_years.empty?%>
    <hr>
    <h3>Even older posts</h3>
    <% @past_years.reverse_each do |post| %>
      <%= render post %>
    <% end %>
  <% end %>
</div>
