<div class="col-lg-12">
  <%= image_tag(@post.image_url(:standard), class: "img-responsive center-block")%>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <div	class="page-header">
    <h1><%= @post.title %></h1>
    <h3><em><%= @post.subtitle %></em></h3>
  </div>
  <p class="lead text-justify"><%= @post.body %></p>

  <hr>

  <h3>Comments: </h3>
  <% @post.comments.each do |comment| %>
    <% if comment %>
      <p><strong><%= comment.user.name %>:<br></strong></p>
      <p><%= comment.text %></p>
    <% end %>
  <% end %>

  <hr>

  <% if current_user %>
    <%= render 'posts/comment' %>
  <% else %>
  <div class="alert alert-gray" role="alert">
    <%= link_to 'Log in', user_session_path %> to leave a comment.
  </div>
  <% end %>
</div>
