<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
      <div	class="row">
        <header class="navbar navbar-fixed-top">
          <%= render 'layouts/navigation' %>
        </header>
      </div>
      <div	class="row">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    <footer>
      I AM A FOOTER
    </footer>
    </div>
  </body>
</html>
